body {
    display: grid;
    grid-template-rows: auto 500px;
    grid-gap: 10px;
}

header {
    grid-row-start: 1;
    color: white;
    background-color: black;
    padding-left: 10px;
}

main {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 200px 100%;
    grid-gap: 10px;
}

nav {
    grid-column-start: 1;
    background-color: rgb(184, 180, 180);
    padding-left: 10px;

}

#result {
    grid-column-start: 2;
}

#submit {
    background-color: rgb(9, 90, 165);
    color: white;
    height: 25px;
    width: 75px;
    border-radius: 5px;
    border: rgb(9, 90, 165);
}