#header1{
    font-weight: bold;
    text-align: left;
}

header {
    grid-row-start: 1;
    color: white;
    background-color: black;
    padding-left: 10px;
}

img{
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    font-size: 45px;
}