body {
    display: grid;
    grid-template-rows: auto 100%;
    grid-gap: 0px;
    
}

header {
    grid-row-start: 1;
    color: white;
    background-color: black;
    padding-left: 10px;
}

main {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 160px auto;
    grid-gap: 0px;
}

nav {
    grid-column-start: 1;
    background-color: rgb(184, 180, 180);
    padding-left: 10px;
    font-size: 25px;
    position: absolute;
    height: 85%;
    width: 15%;
    
}


#result {
    grid-column-start: 2;
}

img{
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

h1{
    font-size: 45px;
}

